@model List<Guild.Models.Domain.worker>
@{
}
<h1> This page is for viewin all the registered workers 😛.</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Age</th>
            <th>Password</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var worker in Model)
        {
            <tr>
                <td>@worker.Id</td>
                <td>@worker.Name</td>
                <td>@worker.Email</td>
                <td>@worker.Phone</td>
                <td>@worker.Age</td>
                <td>@worker.Password</td>
                <td>
                    <a asp-action="Edit" asp-area="Admin" asp-controller="Admin" class="btn btn-dark"><i class="bi bi-pencil-square"></i>Edit</a>
                    <a asp-action="" asp-area="" asp-controller="" class="btn btn-danger"><i class="bi bi-trash3-fill"></i>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>